<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="inserisciDiscoImmagineDiv">
    <div id="inserisciDiscoImmagineDivImgContainer">
        <div id="inserisciDiscoImmagineNuovaImg">
            
            <form method="post" action="selezionaImmaginiDisco" enctype="multipart/form-data">
                        <input type="image" name="image" src="immagini/icons8-add-white-24.png" width="50"> 
            </form>
        </div>
    </div>
</div>