<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="inserisciTracciaDiv">
    <span id="inserisciTracciaSpan">
        Aggiungi Traccia
    </span>
    <form method="get">
        <input type="text" id="inserisciTracciaInput1" name="nomeTracciaPar" value="nome Traccia">
        <input type="time" id="inserisciTracciaInput2" name="timePar">
        <input type="submit" id ="inserisciTracciaInput3" value="inserisci">
    </form>
</div>
