<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="profiloDiv">
    <div id="profiloCarDiv">
        <!-- caratteristiche profilo -->
        <span class="profiloSpan1">Nickaname:</span>
        <span class="profiloSpan1">Email:</span>
        <span class="profiloSpan1">Numero di telefono:</span>
    </div>
    <div id="profiloDivC">
        <div id="profiloContainerArtistiStat">
            <h1 style="padding-left: 15%;"> TOP 3 ARTISTI PREFERITI</h1>
            <div id="profiloDivPrimoPosto">
                <span class="profiloSpan2">artista</span>
            </div>
            <div id="profiloDivSecondoPosto">
                <span class="profiloSpan2">artista</span>
            </div>
            <div id="profiloDivTerzoPosto">
                <span class="profiloSpan2">artista</span>
            </div>
        </div>
        <div id="profiloContainerGeneriStat">
            <h1 style="padding-left: 15%;"> TOP 3 GENERI PREFERITI</h1>
            <div id="profiloDivPPosto">
                <span class="profiloSpan2">genere</span>
            </div>
            <div id="profiloDivSPosto">
                <span class="profiloSpan2">genere</span>
            </div>
            <div id="profiloDivTPosto">
                <span class="profiloSpan2">genere</span>
            </div>
        </div>
    </div>
    
</div>
