<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<div id="profiloDiv">
    <div style="width: 500px;height: 500px; background-color: greenyellow;">
        <!-- caratteristiche profilo -->
    </div>
    <div id="profiloContainerArtistiStat" style="width: 500px;height: 300px; background-color: white;">
        <h1> TOP 3 ARTISTI PREFERITO</h1>
        <div id="profiloDivPrimoPosto"></div>
        <div id="profiloDivSecondoPosto"></div>
        <div id="profiloDivTerzoPosto"></div>
    </div>
</div>
